<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/static/services.css">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
     
    </style>
  </head>

  <body>
    <div class="wrapper">
       
      <div class="logo">
          <img src="{{ user_image}}" alt="">
      </div>
      <ul class="nav-area">
          <li><a href="{{url_for('homepage')}}">Back</a></li>
          

      </ul>
  </div>
    <div class="services">
      <h1>Our Services</h1>
      <div class="cen">
        <div class="service">
          <i class="fas fa-apple-alt"></i>
          <h2>Image Recogonition</h2>
          <p>Upload a fruit and vegetable image and know the nutritional values.</p>
        </div>

        <div class="service">
          <i class="fab fa-android"></i>
          <h2>Nutrition Assistant</h2>
          <p>Helps to maintain nutritional diet.</p>
        </div>

        <div class="service">
          <i class="fab fa-angellist"></i>
          <h2>Help</h2>
          <p>Contact us through <a href="mailto: nassistant.gans@gmail.com">nassistant.gans@gmail.com</a>.</p>
        </div>


      </div>
    </div>
    
  </body>
</html>
