<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nutrition Assistant Application</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/homepage.css">    
</head>
<body>
    <!-- <img src="{{ user_image }}"> -->
    <header >
        
    <div class="wrapper">
       
        <div class="logo">
            <img src="{{ user_image}}" alt="">
        </div>
        <ul class="nav-area">
            <li><a href="{{url_for('homepage')}}">Home</a></li>
            <li><a href="{{url_for('about')}}">About</a></li>
            <li><a href="{{url_for('services')}}">Services</a></li>
            <li><a href="{{url_for('login')}}">Login</a></li>
            <li><a href="{{url_for('register')}}">register</a></li>

        </ul>
    </div>
<div class="welcome-text">
        <h1>
NUTRITION <br> <span>ASSISTANT</span></h1>

    </div>
</header>


</body>
</html>
